/* Основной фон страницы */
.LoginBase {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #88d3f8, #1e90ff);
    font-family: 'Arial', sans-serif;
  }
  
  /* Окно логина/регистрации */
  .LoginWindow {
    background: linear-gradient(180deg, #215f88, #3c8dbc);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Заголовок формы */
  .LoginText {
    font-size: 24px;
    font-weight: bold;
    color: #181717;
    margin-bottom: 20px;
  }
  
  /* Поля ввода */
  .LoginInput {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .LoginInput:focus {
    border-color: #1e90ff;
  }
  
  /* Кнопки */
  .LoginBtn,
  .RegisterBtn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .LoginBtn {
    background: #1e90ff;
    color: #fff;
  }
  
  .LoginBtn:hover {
    background: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .RegisterBtn {
    background: #f0f0f0;
    color: #333;
  }
  
  .RegisterBtn:hover {
    background: #e0e0e0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  