.button-main {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 156px;
    font-size: 30px;
    cursor: pointer;

  }
  
  .button-main:hover {
    background: #1d49aa;
  }
  
  .button-main:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  .text-main{
    font-size: 40px;
    text-align: center;
    color: white;
  }

  .need{
    display: flex;
    justify-content: center;
    align-items: center;
  }